* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 152px;
  background-color: white;
  padding-bottom: 3%;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.ancho {
  width: 71%;
  height: 152px;
  background-color: white;
  margin: auto;
  transform: translateX();
  transition: all 1.5s;
}

.logo img {
  width: 25%;
  height: 130px;
  padding-top: 15px;
  float: left;
  box-sizing: border-box;
}

.menu {
  width: 75%;
  height: 152px;
  float: left;
  text-align: center;
  padding-top: 75px;
  box-sizing: border-box;
}

.menu ul li {
  display: inline;
  margin-right: 2%;
  margin-left: 2%;
}

.menu ul li a {
  color: #1a2b6d;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 4px;
  border-top: 1px solid #323232;
  padding-top: 10px;
}

.menu ul li a:hover {
  color: red;
  border-top: 3px solid black;
}

.banner-gral {
  display: block;
  width: 1548px;
  height: 65px;
  background-color: #323232;
  margin: auto;
  color: white;
}

.banner-gral p {
  font-family: helvetica, arial;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
}

.banner-gral p span {
  color: #323232;
}

.banner {
  position: relative;
  overflow: hidden;
  margin-top: 11%;
  width: 100%;
}

.text {
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 40%;
  color: white;
  font-family: sans-serif;
  font-size: 66px;
  font-weight: bold;
  letter-spacing: 3px;
  width: 100%;
  height: 15%;
  padding: 0.3em;
  text-align: center;
  text-align: center;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.texto-1 {
  width: 70%;
  height: 40px;
  margin: auto;
  margin-top: 3%;
}

.texto-1 p {
  text-align: center;
  font-family: helvetica;
  font-size: 18px;
}

.certificados {
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.cert-abs img {
  float: left;
  width: 600px;
  /* height: 447px; */
  margin-left: 12%;
}

.cert-nadcap img {
  float: right;
  width: 700px;
  /* height: 343px; */
  margin-right: 10%;
  margin-top: 5%;
}

.clearfix {
  clear: both;
}

.back {
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 5%;
  margin-left: 23%;
}

.back a {
  text-decoration: none;
}

footer {
  width: 100%;
  height: 40px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
  background-color: #1a2b6d;
}

@media (max-width: 1600px) {
  .ancho {
    width: 85%;
  }

  .certificados {
    width: 100%;
  }

  .cert-nadcap img {
    margin-right: 10%;
  }

  .cert-abs img {
    margin-left: 5%;
  }
}

@media (min-width: 1367px) {
  .menu {
    width: 75%;
  }
}

@media (max-width: 1366px) {
  .banner {
    margin-top: 17%;
  }

  .ancho {
    width: 80%;
    margin: auto;
    padding-left: 10%;
  }

  .menu ul li a {
    letter-spacing: normal;
  }
  .banner-gral {
    width: 100%;
  }

  .certificados {
    width: 100%;
    margin: auto;
    margin-top: 5%;
  }

  .certificados img {
    width: 500px;
  }

  .cert-nadcap img {
    margin-right: 5%;
  }
}
