* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 152px;
}

.ancho {
  width: 71%;
  height: 152px;
  background-color: white;
  margin: auto;
  transform: translateX();
  transition: all 1.5s;
}

.logo img {
  width: 25%;
  height: 130px;
  padding-top: 15px;
  float: left;
  box-sizing: border-box;
}

.burger {
  width: 25px;
  height: 5px;
  background: black;
  display: none;
}

.menu {
  width: 75%;
  height: 152px;
  float: left;
  text-align: center;
  padding-top: 75px;
  box-sizing: border-box;
}

.menu ul li {
  display: inline;
  margin-right: 2%;
  margin-left: 2%;
}

.menu ul li a {
  color: #1a2b6d;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 4px;
  border-top: 1px solid #323232;
  padding-top: 10px;
}

.menu ul li a:hover {
  color: red;
  border-top: 3px solid black;
}

.banner-gral {
  display: block;
  width: 1548px;
  height: 65px;
  background-color: #323232;
  margin: auto;
  color: white;
}

.banner-gral p {
  font-family: helvetica, arial;
  padding-top: 20px;
  text-align: center;
  font-size: 16px;
}

.banner-gral-2 {
  display: none;
}

.container {
  text-align: center;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner-gral p span {
  color: #323232;
}

.boton_1 {
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin-top: 100px;
  margin-left: 35%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: helvetica, arial;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  background-color: #00adef;
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 0px 11px 4px -6px rgba(0, 0, 0, 0.75);
}

.boton_2 {
  display: block;
  float: right;
  margin-right: 35%;
  position: relative;
  text-decoration: none;
  margin-top: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: helvetica, arial;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  background-color: #00adef;
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: 0px 11px 4px -6px rgba(0, 0, 0, 0.75);
}

.clearfix {
  clear: both;
}

.cert {
  width: 70%;
  height: 500px;
  margin: auto;
}

.cert p {
  float: left;
  margin-top: 20%;
  font-size: 40px;
  color: #1a2b6d;
  font-weight: bolder;
  font-family: sans-serif;
  margin-left: 5%;
}

.cert1,
.cert2 {
  float: left;
  margin-top: 17%;
  padding-left: 5%;
}

footer {
  width: 100%;
  height: 46px;
  background-color: #1a2b6d;
}

footer p {
  color: white;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
}

@media (max-width: 1600px) {
  .ancho {
    width: 85%;
  }

  .boton_1 {
    margin-left: 35%;
    margin-top: 5%;
  }

  .boton_2 {
    margin-right: 35%;
    margin-top: 5%;
  }

  .cert {
    width: 100%;
  }

  .cert p {
    margin-top: 17%;
  }

  .cert img {
    margin: auto;
    margin-top: 15%;
  }
}

@media (max-width: 1280px) {
  .banner {
    margin-top: 17%;
  }

  .ancho {
    width: 80%;
    margin: auto;
    padding-left: 10%;
  }

  .menu ul li a {
    letter-spacing: normal;
  }
  .banner-gral {
    width: 100%;
  }

  .container {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .bxslider img {
    width: 100%;
    height: 500px;
  }

  .fuente p {
    width: 100%;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 46px;
  }

  body {
    width: 100%;
  }

  .boton_1 {
    margin-top: 10%;
    margin-left: 30%;
  }

  .boton_2 {
    margin-top: 10%;
    margin-right: 30%;
  }

  .cert {
    width: 100%;
  }

  .cert p {
    margin-top: 18%;
  }
}

@media screen and (max-width: 360px) {
  header {
    width: 100%;
  }

  .logo {
    display: inline-block;
  }

  .logo img {
    width: 80%;
  }

  .menu {
    display: none;
  }

  .banner-gral {
    display: none;
  }

  .banner-gral-2 {
    display: block;
    width: 100%;
    height: 65px;
    background-color: #323232;
    margin: auto;
    color: white;
  }

  .banner-gral-2 p {
    font-family: helvetica, arial;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
  }
}
